<header>
  <h1>Trevor Slater</h1>
  <h3>"Hell On Wheels"</h3>
</header>

<nav>
  <%= render "layouts/navbar" %>
</nav>

<div class='content'>
  <h2>About Me</h2>
  <p>What can I say? I like to go fast and I like to turn left sometimes.</p>
  <br>
  <p>Growing up in small town Paris, France, I quickly learned to love the life of the Formula-1 racecar drivers. I knew that my arms were too short to reach the steering wheels in F-1 cars though, so I moved to Utah so that I could learn to race the Nascars.</p>
  <br>
  <p>I am currently the Wolrd Champion of eating small car parts with only mayonnaise to drink and also racing 49cc Nascars.</p>
</div>
